<div
  class="TimelineItem TimelineItem--condensed pt-0 js-comment-container js-socket-channel js-updatable-content js-command-palette-pull-body"
  data-gid="PR_kwDOPd7_IM6j65GC" data-url="/malashevskyi/Learning-Platform-API/pull/3/partials/body"
  data-channel-event-name="body_updated"
  data-channel="eyJjIjoicHVsbF9yZXF1ZXN0OjI3NTAxMjQ0MTgiLCJ0IjoxNzY1MTA5NTgyfQ==--e161e20e694e5c22f4ce69fc73b1ab5e76de589791154b399f78d3b6c3fe583b">

  <a class="TimelineItem-avatar circle" data-hovercard-type="user" data-hovercard-url="/users/malashevskyi/hovercard"
    data-octo-click="hovercard-link-click" data-octo-dimensions="link_type:self" href="/malashevskyi"
    aria-keyshortcuts="Alt+ArrowUp">
    <img class="avatar avatar-user" src="https://avatars.githubusercontent.com/u/29653438?s=80&amp;v=4" width="40"
      height="40" alt="@malashevskyi">
  </a>
  <div class="timeline-comment-group js-minimizable-comment-group js-targetable-element TimelineItem-body my-0"
    id="issue-3326844996">
    <div id="pullrequest-2750124418"
      class="timeline-comment-group js-minimizable-comment-group js-targetable-element my-0 comment previewable-edit js-task-list-container js-comment editable-comment timeline-comment--caret reorderable-task-lists timeline-comment ml-n3 current-user unminimized-comment">
      <div class="timeline-comment-header clearfix d-flex flex-items-start" data-morpheus-enabled="false">
        <div class="d-flex flex-row-reverse flex-items-center flex-shrink-0 pl-3">
          <div class="timeline-comment-actions flex-shrink-0 d-flex flex-items-center">
            <details class="details-overlay details-reset position-relative d-inline-block">
              <summary data-view-component="true"
                class="timeline-comment-action Link--secondary Button--link Button--medium Button" aria-haspopup="menu"
                role="button"> <span class="Button-content">
                  <span class="Button-label"><svg aria-label="Show options" role="img" height="16" viewBox="0 0 16 16"
                      version="1.1" width="16" data-view-component="true" class="octicon octicon-kebab-horizontal">
                      <path
                        d="M8 9a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3ZM1.5 9a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3Zm13 0a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3Z">
                      </path>
                    </svg></span>
                </span>
              </summary>

              <details-menu class="dropdown-menu dropdown-menu-sw show-more-popover color-fg-default"
                style="width:185px"
                src="/malashevskyi/Learning-Platform-API/issues/3/actions_menu?gid=PR_kwDOPd7_IM6j65GC&amp;href=issue-3326844996"
                preload="" role="menu">
                <include-fragment data-nonce="v2:da770d82-00a1-0147-e840-af781f63f8fa" data-view-component="true"
                  class="js-comment-header-actions-deferred-include-fragment">

                  <p class="text-center mt-3" data-hide-on-error="">
                    <span data-view-component="true">
                      <svg aria-label="Loading..." style="box-sizing: content-box; color: var(--color-icon-primary);"
                        width="32" height="32" viewBox="0 0 16 16" fill="none" role="img" data-view-component="true"
                        class="anim-rotate">
                        <circle cx="8" cy="8" r="7" stroke="currentColor" stroke-opacity="0.25" stroke-width="2"
                          vector-effect="non-scaling-stroke" fill="none"></circle>
                        <path d="M15 8a7.002 7.002 0 00-7-7" stroke="currentColor" stroke-width="2"
                          stroke-linecap="round" vector-effect="non-scaling-stroke"></path>
                      </svg></span>
                  </p>
                  <p class="ml-1 mb-2 mt-2" data-show-on-error="" hidden="">
                    <svg aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="16"
                      data-view-component="true" class="octicon octicon-alert">
                      <path
                        d="M6.457 1.047c.659-1.234 2.427-1.234 3.086 0l6.082 11.378A1.75 1.75 0 0 1 14.082 15H1.918a1.75 1.75 0 0 1-1.543-2.575Zm1.763.707a.25.25 0 0 0-.44 0L1.698 13.132a.25.25 0 0 0 .22.368h12.164a.25.25 0 0 0 .22-.368Zm.53 3.996v2.5a.75.75 0 0 1-1.5 0v-2.5a.75.75 0 0 1 1.5 0ZM9 11a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z">
                      </path>
                    </svg>
                    Sorry, something went wrong.
                  </p>
                  <button type="button" class="dropdown-item btn-link js-comment-quote-reply" data-hotkey="r"
                    role="menuitem">
                    Quote reply
                  </button>

                  <div data-show-on-forbidden-error="" hidden="">
                    <div class="Box">
                      <div class="blankslate-container">
                        <div data-view-component="true"
                          class="blankslate blankslate-spacious color-bg-default rounded-2">


                          <h3 data-view-component="true" class="blankslate-heading"> Uh oh!
                          </h3>
                          <p data-view-component="true"> </p>
                          <p class="color-fg-muted my-2 mb-2 ws-normal">There was an error while loading. <a
                              class="Link--inTextBlock" data-turbo="false" href=""
                              aria-label="Please reload this page">Please reload this page</a>.</p>
                          <p></p>

                        </div>
                      </div>
                    </div>
                  </div>
                </include-fragment> </details-menu>
            </details>
          </div>

          <div class="d-none d-sm-flex">




          </div>
        </div>

        <h3 class="f5 text-normal py-2" style="flex: 1 1 auto">
          <div class="d-flex flex-items-center flex-wrap gap-1">
            <span class="d-inline-flex d-md-none">
              <img src="https://avatars.githubusercontent.com/u/29653438?s=48&amp;v=4" alt="@malashevskyi" size="24"
                height="24" width="24" data-view-component="true" class="avatar circle mr-2">
            </span>

            <strong>
              <a class="author Link--primary text-bold css-overflow-wrap-anywhere " show_full_name="false"
                user_name_display_configuration="false" data-hovercard-type="user"
                data-hovercard-url="/users/malashevskyi/hovercard" data-octo-click="hovercard-link-click"
                data-octo-dimensions="link_type:self" href="/malashevskyi"
                aria-keyshortcuts="Alt+ArrowUp">malashevskyi</a>


            </strong>



            commented


            <a href="#issue-3326844996" id="issue-3326844996-permalink"
              class="Link--secondary js-timestamp"><relative-time datetime="2025-08-16T04:08:21Z" class="no-wrap"
                title="Aug 16, 2025, 7:08 AM GMT+3">Aug 16, 2025</relative-time></a>



          </div>

        </h3>
      </div>

      <div>
        <div class="edit-comment-hide">

          <task-lists disabled="" sortable="">
            <div class="comment-body markdown-body js-comment-body soft-wrap user-select-contain d-block">
              <p class="color-fg-muted">
                <em> No description provided. </em>
              </p>
            </div>
          </task-lists>

        </div>

      </div>

      <!-- '"` --><!-- </textarea></xmp> -->
      <form class="js-comment-update" id="issue-3326844996-edit-form" data-type="json" data-turbo="false"
        action="/malashevskyi/Learning-Platform-API/issues/3" accept-charset="UTF-8" method="post"><input type="hidden"
          name="_method" value="put" autocomplete="off"><input type="hidden" name="authenticity_token"
          value="Wp2t7UmaA36LgyHQ78If_2eQwP05T6LeP00rW2d1y-eaaWtvGPtHwUyNrvj58Zp31r77MObBrp3GjM8WiozyiQ"
          autocomplete="off">
        <include-fragment loading="lazy"
          src="/malashevskyi/Learning-Platform-API/issues/3/edit_form?textarea_id=issue-3326844996-body&amp;comment_context="
          data-nonce="v2:da770d82-00a1-0147-e840-af781f63f8fa" data-view-component="true"
          class="previewable-comment-form js-comment-edit-form-deferred-include-fragment">

          <p class="text-center mt-3" data-hide-on-error="">
            <span data-view-component="true">
              <svg aria-label="Loading..." style="box-sizing: content-box; color: var(--color-icon-primary);" width="32"
                height="32" viewBox="0 0 16 16" fill="none" role="img" data-view-component="true" class="anim-rotate">
                <circle cx="8" cy="8" r="7" stroke="currentColor" stroke-opacity="0.25" stroke-width="2"
                  vector-effect="non-scaling-stroke" fill="none"></circle>
                <path d="M15 8a7.002 7.002 0 00-7-7" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                  vector-effect="non-scaling-stroke"></path>
              </svg></span>
          </p>
          <p class="ml-1 mb-2 mt-2" data-show-on-error="" hidden="">
            <svg aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="16" data-view-component="true"
              class="octicon octicon-alert">
              <path
                d="M6.457 1.047c.659-1.234 2.427-1.234 3.086 0l6.082 11.378A1.75 1.75 0 0 1 14.082 15H1.918a1.75 1.75 0 0 1-1.543-2.575Zm1.763.707a.25.25 0 0 0-.44 0L1.698 13.132a.25.25 0 0 0 .22.368h12.164a.25.25 0 0 0 .22-.368Zm.53 3.996v2.5a.75.75 0 0 1-1.5 0v-2.5a.75.75 0 0 1 1.5 0ZM9 11a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z">
              </path>
            </svg>
            Sorry, something went wrong.
          </p>

          <div data-show-on-forbidden-error="" hidden="">
            <div class="Box">
              <div class="blankslate-container">
                <div data-view-component="true" class="blankslate blankslate-spacious color-bg-default rounded-2">


                  <h3 data-view-component="true" class="blankslate-heading"> Uh oh!
                  </h3>
                  <p data-view-component="true"> </p>
                  <p class="color-fg-muted my-2 mb-2 ws-normal">There was an error while loading. <a
                      class="Link--inTextBlock" data-turbo="false" href="" aria-label="Please reload this page">Please
                      reload this page</a>.</p>
                  <p></p>

                </div>
              </div>
            </div>
          </div>
        </include-fragment>
      </form>
      <div class="pr-review-reactions ">
        <div data-view-component="true"
          class="comment-reactions just-bottom js-reactions-container js-reaction-buttons-container social-reactions reactions-container d-flex">
          <reactions-menu tabindex="-1" data-catalyst="">
            <details data-action="toggle:reactions-menu#focusFirstItem" data-target="reactions-menu.details"
              class="dropdown details-reset details-overlay d-inline-block new-reactions-dropdown js-reaction-popover-container js-comment-header-reaction-button">
              <summary data-target="reactions-menu.summary" aria-label="Add or remove reactions" aria-haspopup="true"
                data-view-component="true"
                class="circle reaction-dropdown-button reaction-dropdown-button--inline btn-invisible btn p-0 mr-1 d-flex flex-justify-center flex-items-center color-bg-subtle border color-border-muted">
                <svg height="18" aria-hidden="true" viewBox="0 0 16 16" version="1.1" width="18"
                  data-view-component="true" class="octicon octicon-smiley social-button-emoji">
                  <path
                    d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0ZM1.5 8a6.5 6.5 0 1 0 13 0 6.5 6.5 0 0 0-13 0Zm3.82 1.636a.75.75 0 0 1 1.038.175l.007.009c.103.118.22.222.35.31.264.178.683.37 1.285.37.602 0 1.02-.192 1.285-.371.13-.088.247-.192.35-.31l.007-.008a.75.75 0 0 1 1.222.87l-.022-.015c.02.013.021.015.021.015v.001l-.001.002-.002.003-.005.007-.014.019a2.066 2.066 0 0 1-.184.213c-.16.166-.338.316-.53.445-.63.418-1.37.638-2.127.629-.946 0-1.652-.308-2.126-.63a3.331 3.331 0 0 1-.715-.657l-.014-.02-.005-.006-.002-.003v-.002h-.001l.613-.432-.614.43a.75.75 0 0 1 .183-1.044ZM12 7a1 1 0 1 1-2 0 1 1 0 0 1 2 0ZM5 8a1 1 0 1 1 0-2 1 1 0 0 1 0 2Zm5.25 2.25.592.416a97.71 97.71 0 0 0-.592-.416Z">
                  </path>
                </svg>
              </summary> <!-- '"` --><!-- </textarea></xmp> -->
              <form class="js-pick-reaction" data-turbo="false" action="/malashevskyi/Learning-Platform-API/reactions"
                accept-charset="UTF-8" method="post"><input type="hidden" name="_method" value="put"
                  autocomplete="off"><input type="hidden" name="authenticity_token"
                  value="prJDbPL5yi0o4_Oeirat6BCQ7tW9cxjPTo6meCcUKPKBXigKc8Lo5orvn0wbpmcd36nzPEdbvcOKbB8OaCwBCw"
                  autocomplete="off">
                <input type="hidden" name="input[subjectId]" value="PR_kwDOPd7_IM6j65GC">
                <ul class="dropdown-menu mt-2 d-flex mb-2 anim-scale-in dropdown-menu-reactions dropdown-menu-se"
                  role="menu">
                  <li role="presentation">
                    <button name="input[content]" id="reactions--reaction_button_component-d869ed"
                      value="THUMBS_UP react" data-reaction-label="+1" data-reaction-content="+1"
                      data-targets="reactions-menu.menuItems" role="menuitemcheckbox" aria-checked="false"
                      aria-label="thumbs up" type="submit" data-view-component="true"
                      class="dropdown-item dropdown-item-reaction btn-invisible btn d-flex no-underline color-fg-muted flex-justify-center flex-items-center rounded-2">
                      <g-emoji alias="+1" fallback-src="https://github.githubassets.com/assets/1f44d-41cb66fe1e22.png"
                        class="d-flex">👍</g-emoji>
                    </button>
                  </li>
                  <li role="presentation">
                    <button name="input[content]" id="reactions--reaction_button_component-2df15a"
                      value="THUMBS_DOWN react" data-reaction-label="-1" data-reaction-content="-1"
                      data-targets="reactions-menu.menuItems" role="menuitemcheckbox" aria-checked="false"
                      aria-label="thumbs down" type="submit" data-view-component="true"
                      class="dropdown-item dropdown-item-reaction btn-invisible btn d-flex no-underline color-fg-muted flex-justify-center flex-items-center rounded-2">
                      <g-emoji alias="-1" fallback-src="https://github.githubassets.com/assets/1f44e-ce91733aae25.png"
                        class="d-flex">👎</g-emoji>
                    </button>
                  </li>
                  <li role="presentation">
                    <button name="input[content]" id="reactions--reaction_button_component-e00075" value="LAUGH react"
                      data-reaction-label="Laugh" data-reaction-content="smile" data-targets="reactions-menu.menuItems"
                      role="menuitemcheckbox" aria-checked="false" aria-label="laugh" type="submit"
                      data-view-component="true"
                      class="dropdown-item dropdown-item-reaction btn-invisible btn d-flex no-underline color-fg-muted flex-justify-center flex-items-center rounded-2">
                      <g-emoji alias="smile"
                        fallback-src="https://github.githubassets.com/assets/1f604-7528822fb4c5.png"
                        class="d-flex">😄</g-emoji>
                    </button>
                  </li>
                  <li role="presentation">
                    <button name="input[content]" id="reactions--reaction_button_component-bea0c1" value="HOORAY react"
                      data-reaction-label="Hooray" data-reaction-content="tada" data-targets="reactions-menu.menuItems"
                      role="menuitemcheckbox" aria-checked="false" aria-label="hooray" type="submit"
                      data-view-component="true"
                      class="dropdown-item dropdown-item-reaction btn-invisible btn d-flex no-underline color-fg-muted flex-justify-center flex-items-center rounded-2">
                      <g-emoji alias="tada" fallback-src="https://github.githubassets.com/assets/1f389-36899a2cb781.png"
                        class="d-flex">🎉</g-emoji>
                    </button>
                  </li>
                  <li role="presentation">
                    <button name="input[content]" id="reactions--reaction_button_component-c13281"
                      value="CONFUSED react" data-reaction-label="Confused" data-reaction-content="thinking_face"
                      data-targets="reactions-menu.menuItems" role="menuitemcheckbox" aria-checked="false"
                      aria-label="confused" type="submit" data-view-component="true"
                      class="dropdown-item dropdown-item-reaction btn-invisible btn d-flex no-underline color-fg-muted flex-justify-center flex-items-center rounded-2">
                      <g-emoji alias="thinking_face"
                        fallback-src="https://github.githubassets.com/assets/1f615-4bb1369c4251.png"
                        class="d-flex">😕</g-emoji>
                    </button>
                  </li>
                  <li role="presentation">
                    <button name="input[content]" id="reactions--reaction_button_component-c5d326" value="HEART react"
                      data-reaction-label="Heart" data-reaction-content="heart" data-targets="reactions-menu.menuItems"
                      role="menuitemcheckbox" aria-checked="false" aria-label="heart" type="submit"
                      data-view-component="true"
                      class="dropdown-item dropdown-item-reaction btn-invisible btn d-flex no-underline color-fg-muted flex-justify-center flex-items-center rounded-2">
                      <g-emoji alias="heart" fallback-src="https://github.githubassets.com/assets/2764-982dc91ea48a.png"
                        class="d-flex">❤️</g-emoji>
                    </button>
                  </li>
                  <li role="presentation">
                    <button name="input[content]" id="reactions--reaction_button_component-7bbe08" value="ROCKET react"
                      data-reaction-label="Rocket" data-reaction-content="rocket"
                      data-targets="reactions-menu.menuItems" role="menuitemcheckbox" aria-checked="false"
                      aria-label="rocket" type="submit" data-view-component="true"
                      class="dropdown-item dropdown-item-reaction btn-invisible btn d-flex no-underline color-fg-muted flex-justify-center flex-items-center rounded-2">
                      <g-emoji alias="rocket"
                        fallback-src="https://github.githubassets.com/assets/1f680-d0ef47fdb515.png"
                        class="d-flex">🚀</g-emoji>
                    </button>
                  </li>
                  <li role="presentation">
                    <button name="input[content]" id="reactions--reaction_button_component-fe051d" value="EYES react"
                      data-reaction-label="Eyes" data-reaction-content="eyes" data-targets="reactions-menu.menuItems"
                      role="menuitemcheckbox" aria-checked="false" aria-label="eyes" type="submit"
                      data-view-component="true"
                      class="dropdown-item dropdown-item-reaction btn-invisible btn d-flex no-underline color-fg-muted flex-justify-center flex-items-center rounded-2">
                      <g-emoji alias="eyes" fallback-src="https://github.githubassets.com/assets/1f440-ee44e91e92a7.png"
                        class="d-flex">👀</g-emoji>
                    </button>
                  </li>
                </ul>
              </form>
            </details>
          </reactions-menu>

          <!-- '"` --><!-- </textarea></xmp> -->
          <form class="js-pick-reaction" data-turbo="false" action="/malashevskyi/Learning-Platform-API/reactions"
            accept-charset="UTF-8" method="post"><input type="hidden" name="_method" value="put"
              autocomplete="off"><input type="hidden" name="authenticity_token"
              value="WNdFnT3rfnikXzAtzyesAPRVzqEEGRoRxIBKtw1akYV_Oy77vNBcswZTXP9eN2b1O2zTSP4xvx0AYvPBQmK4fA"
              autocomplete="off">
            <input type="hidden" name="input[subjectId]" value="PR_kwDOPd7_IM6j65GC">
            <div class="js-comment-reactions-options d-flex flex-items-center flex-row flex-wrap">
              <div class="js-reactions-container">
                <details class="dropdown details-reset details-overlay d-inline-block js-all-reactions-popover"
                  hidden="">
                  <summary aria-haspopup="true" data-view-component="true" class="Button--link Button--medium Button">
                    <span class="Button-content">
                      <span class="Button-label">All reactions</span>
                    </span>
                  </summary>

                  <ul class="dropdown-menu dropdown-menu-se">
                  </ul>
                </details>
              </div>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>