<div class="BlobEditor-module__Box_2--C2pXR">
  <div class="Box-sc-62in7e-0 Panel-module__Box--lC3LD BlobEditor-module__Panel--_7FaW" style="max-width: 100%;"
    data-split-view-initialized="true">
    <div class="BlobEditHeader-module__Box--KeOBS">
      <div class="BlobEditHeader-module__Box_1--KxNS6">
        <ul aria-label="Edit mode"
          class="prc-SegmentedControl-SegmentedControl-e7570 BlobEditHeader-module__SegmentedControl--reacR"
          data-variant="default" data-size="small">
          <li class="prc-SegmentedControl-Item-7Aq6h" data-selected=""><button aria-current="true"
              class="prc-SegmentedControl-Button-ojWXD" type="button" style="--separator-color: transparent;"><span
                class="prc-SegmentedControl-Content-gnQ4n segmentedControl-content">
                <div class="prc-SegmentedControl-Text-c5gSh segmentedControl-text" data-text="Edit">Edit</div>
              </span></button></li>
          <li class="prc-SegmentedControl-Item-7Aq6h"><button aria-current="false"
              class="prc-SegmentedControl-Button-ojWXD" type="button"
              style="--separator-color: var(--borderColor-default);"><span
                class="prc-SegmentedControl-Content-gnQ4n segmentedControl-content">
                <div class="prc-SegmentedControl-Text-c5gSh segmentedControl-text" data-text="Preview">Preview</div>
              </span></button></li>
        </ul>
        <div style="display: flex;">
          <div style="display: none; justify-content: space-between; align-items: center; gap: 10px;"><button
              type="button" class="split-view-button-custom">Split</button></div>
        </div>
        <div class="BlobEditHeader-module__Box_2--WDtxp" style="--margin-right-offset: -8px;"></div>
        <div class="BlobEditHeader-module__Box_3--tm2Hi"></div>
        <div class="BlobEditHeader-module__Box_4--ymnRk">
          <div
            class="Box-sc-62in7e-0 BlobEditHeader-module__CodeMirrorSpacingControls--ngCvE CodeMirrorSpacingControls-module__Box--K9ft7">
            <div
              class="FormControl__FormControlImpl-sc-1642wfe-0 BlobEditHeader-module__CodeMirrorSpacingControls_1--GtVZh prc-FormControl-ControlVerticalLayout-wOp8f">
              <label data-visually-hidden="" for=":r3i:" class="prc-components-Label-bE-kK">Indent mode</label><span
                class="prc-Select-TextInputWrapper-eBxmL prc-components-TextInputWrapper-i1ofR prc-components-TextInputBaseWrapper-ueK9q"
                data-size="small"><select aria-label="Indent mode" id=":r3i:" aria-describedby="" aria-invalid="false"
                  class="prc-Select-Select-F7Flx" data-hasplaceholder="false">
                  <optgroup label="Indent mode">
                    <option value="spaces">Spaces</option>
                    <option value="tab">Tabs</option>
                  </optgroup>
                </select><svg aria-hidden="true" width="16" height="16" fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg"
                  class="prc-Select-ArrowIndicator-vtddB prc-Select-ArrowIndicator-vtddB">
                  <path
                    d="m4.074 9.427 3.396 3.396a.25.25 0 0 0 .354 0l3.396-3.396A.25.25 0 0 0 11.043 9H4.251a.25.25 0 0 0-.177.427ZM4.074 7.47 7.47 4.073a.25.25 0 0 1 .354 0L11.22 7.47a.25.25 0 0 1-.177.426H4.251a.25.25 0 0 1-.177-.426Z">
                  </path>
                </svg></span></div>
            <div
              class="FormControl__FormControlImpl-sc-1642wfe-0 BlobEditHeader-module__CodeMirrorSpacingControls_1--GtVZh prc-FormControl-ControlVerticalLayout-wOp8f">
              <label data-visually-hidden="" for=":r3j:" class="prc-components-Label-bE-kK">Indent size</label><span
                class="prc-Select-TextInputWrapper-eBxmL prc-components-TextInputWrapper-i1ofR prc-components-TextInputBaseWrapper-ueK9q"
                data-size="small"><select aria-label="Indent size" id=":r3j:" aria-describedby="" aria-invalid="false"
                  class="prc-Select-Select-F7Flx" data-hasplaceholder="false">
                  <optgroup label="Indent size">
                    <option value="2">2</option>
                    <option value="4">4</option>
                    <option value="8">8</option>
                  </optgroup>
                </select><svg aria-hidden="true" width="16" height="16" fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg"
                  class="prc-Select-ArrowIndicator-vtddB prc-Select-ArrowIndicator-vtddB">
                  <path
                    d="m4.074 9.427 3.396 3.396a.25.25 0 0 0 .354 0l3.396-3.396A.25.25 0 0 0 11.043 9H4.251a.25.25 0 0 0-.177.427ZM4.074 7.47 7.47 4.073a.25.25 0 0 1 .354 0L11.22 7.47a.25.25 0 0 1-.177.426H4.251a.25.25 0 0 1-.177-.426Z">
                  </path>
                </svg></span></div>
            <div
              class="FormControl__FormControlImpl-sc-1642wfe-0 BlobEditHeader-module__CodeMirrorSpacingControls_1--GtVZh prc-FormControl-ControlVerticalLayout-wOp8f">
              <label data-visually-hidden="" for=":r3k:" class="prc-components-Label-bE-kK">Line wrap mode</label><span
                class="prc-Select-TextInputWrapper-eBxmL prc-components-TextInputWrapper-i1ofR prc-components-TextInputBaseWrapper-ueK9q"
                data-size="small"><select aria-label="Line wrap mode" id=":r3k:" aria-describedby=""
                  aria-invalid="false" class="prc-Select-Select-F7Flx" data-hasplaceholder="false">
                  <optgroup label="Line wrap mode">
                    <option value="off">No wrap</option>
                    <option value="on">Soft wrap</option>
                  </optgroup>
                </select><svg aria-hidden="true" width="16" height="16" fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg"
                  class="prc-Select-ArrowIndicator-vtddB prc-Select-ArrowIndicator-vtddB">
                  <path
                    d="m4.074 9.427 3.396 3.396a.25.25 0 0 0 .354 0l3.396-3.396A.25.25 0 0 0 11.043 9H4.251a.25.25 0 0 0-.177.427ZM4.074 7.47 7.47 4.073a.25.25 0 0 1 .354 0L11.22 7.47a.25.25 0 0 1-.177.426H4.251a.25.25 0 0 1-.177-.426Z">
                  </path>
                </svg></span></div>
          </div>
        </div>
      </div>
    </div>
    <div class="react-code-view-edit BlobEditor-module__Box_3--K87KN"><file-attachment
        class="js-upload-markdown-image is-default file-editor-upload react-file-upload" input="blob-dragged-file-input"
        data-upload-repository-id="1111358641" data-upload-policy-url="/upload/policies/assets"
        data-upload-container-type="blob" data-upload-container-id="1111358641"><span id="codemirror-label"
          class="sr-only">Editing README.md file contents</span>
        <div>
          <div class="cm-editor ͼ1 ͼ2 ͼ4 ͼ5   js-codemirror-editor" data-hpc="true" data-testid="codemirror-editor">
            <div class="cm-announced" aria-live="polite"></div>
            <div tabindex="0" class="cm-scroller" role="region" aria-labelledby="codemirror-label">
              <div class="cm-gutters cm-gutters-before" aria-hidden="true" style="min-height: 92px; position: sticky;">
                <div class="cm-gutter cm-lineNumbers">
                  <div class="cm-gutterElement" style="height: 0px; visibility: hidden; pointer-events: none;"> 9</div>
                  <div class="cm-gutterElement" style="height: 20px; margin-top: 8px;"> 1</div>
                  <div class="cm-gutterElement" style="height: 20px;"> 2</div>
                  <div class="cm-gutterElement" style="height: 20px;"> 3</div>
                  <div class="cm-gutterElement" style="height: 20px;"> 4</div>
                </div>
              </div>
              <div spellcheck="false" autocorrect="off" autocapitalize="off" writingsuggestions="false" translate="no"
                contenteditable="true" style="tab-size: 2;" class="cm-content cm-lineWrapping" role="textbox"
                aria-multiline="true" aria-labelledby="codemirror-label focus-trap-help-panel"
                aria-placeholder="Enter file contents here" data-language="markdown" aria-autocomplete="list">
                <div class="cm-line" dir="auto"><span class="ͼf ͼe">#</span><span class="ͼf"> vs-code-code-flashcards
                    README</span></div>
                <div class="cm-line" dir="auto"><br></div>
                <div class="cm-line" dir="auto">The extension to create and review flashcards directly within Visual
                  Studio Code.</div>
                <div class="cm-line" dir="auto"><br></div>
              </div>
            </div>
            <div class="cm-panels cm-panels-bottom" style="bottom: 0px;">
              <div class="cm-help-panel cm-panel" id="focus-trap-help-panel">Use <kbd>Control + Shift + m</kbd> to
                toggle the <kbd>tab</kbd> key moving focus. Alternatively, use <kbd>esc</kbd> then <kbd>tab</kbd> to
                move to the next interactive element on the page.</div>
            </div>
          </div>
        </div><input type="hidden" data-csrf="true" class="js-data-upload-policy-url-csrf"
          value="p84jYLzwyn9pEUVekPKSXo6_gp9t_KONOzbssYg5gNhAxHfLVVe4KzmemErthagCXhFnIyAKZ2OtqSNao3hDTg"><label
          class="text-normal drag-and-drop hx_drag-and-drop d-flex flex-justify-between border-0 border-top border-dashed position-relative position-sm-sticky bottom-sm-0  "><input
            id="blob-dragged-file-input" type="file" accept=".gif,.jpeg,.jpg,.mov,.mp4,.png,.svg,.webm,.webp"
            multiple=""
            class="manual-file-chooser manual-file-chooser-transparent top-0 right-0 bottom-0 left-0 width-full ml-0 form-control rounded-top-0"><span
            class="color-bg-subtle position-absolute top-0 left-0 rounded-bottom-2 width-full height-full"
            style="pointer-events: none;"></span><span class="position-relative pr-2"
            style="pointer-events: none;"><span class="default">Attach files by dragging &amp; dropping, selecting or
              pasting them.</span><span class="loading"><span class="prc-Spinner-Box-qNUI9"><svg height="16px"
                  width="16px" viewBox="0 0 16 16" fill="none" aria-hidden="true" aria-labelledby=":r3m:"
                  class="FileUpload-module__Spinner--eABEB prc-Spinner-SpinnerAnimation-e7Gf-">
                  <circle cx="8" cy="8" r="7" stroke="currentColor" stroke-opacity="0.25" stroke-width="2"
                    vector-effect="non-scaling-stroke"></circle>
                  <path d="M15 8a7.002 7.002 0 00-7-7" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                    vector-effect="non-scaling-stroke"></path>
                </svg><span class="prc-VisuallyHidden-VisuallyHidden-UNWQp" id=":r3m:">Loading</span></span><span
                class="js-file-upload-loading-text" data-file-upload-message="Uploading your files…">Uploading your
                files…</span></span><span class="error bad-file">We don’t support that file type.<span
                class="drag-and-drop-error-info"><span class="btn-link">Try again</span> with a GIF, JPEG, JPG, MOV,
                MP4, PNG, SVG, WEBM, or WEBP.</span></span><span class="error bad-permissions">Attaching documents
              requires write permission to this repository.<span class="drag-and-drop-error-info"><span
                  class="btn-link">Try again</span> with a GIF, JPEG, JPG, MOV, MP4, PNG, SVG, WEBM, or
                WEBP.</span></span><span class="error repository-required">We don’t support that file type.<span
                class="drag-and-drop-error-info"><span class="btn-link">Try again</span> with a GIF, JPEG, JPG, MOV,
                MP4, PNG, SVG, WEBM, or WEBP.</span></span><span class="error too-big js-upload-too-big"></span><span
              class="error empty">This file is empty.<span class="drag-and-drop-error-info"><span class="btn-link">Try
                  again</span> with a file that’s not empty.</span></span><span class="error hidden-file">This file is
              hidden.<span class="drag-and-drop-error-info"><span class="btn-link">Try again</span> with another
                file.</span></span><span class="error failed-request">Something went really wrong, and we can’t process
              that file.<span class="drag-and-drop-error-info"><span class="btn-link">Try
                  again.</span></span></span></span><a aria-labelledby="blob-markdown-help"
            class="Link--muted position-relative d-inline"
            href="https://docs.github.com/github/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax"
            target="_blank" data-ga-click="Markdown Toolbar, click, help" rel="noreferrer"
            aria-describedby="blob-markdown-help"><svg aria-hidden="true" focusable="false"
              class="octicon octicon-markdown" viewBox="0 0 16 16" width="16" height="16" fill="currentColor"
              display="inline-block" overflow="visible" style="vertical-align: text-bottom;">
              <path
                d="M14.85 3c.63 0 1.15.52 1.14 1.15v7.7c0 .63-.51 1.15-1.15 1.15H1.15C.52 13 0 12.48 0 11.84V4.15C0 3.52.52 3 1.15 3ZM9 11V5H7L5.5 7 4 5H2v6h2V8l1.5 1.92L7 8v3Zm2.99.5L14.5 8H13V5h-2v3H9.5Z">
              </path>
            </svg></a><span class="prc-TooltipV2-Tooltip-cYMVY" data-direction="nw" role="tooltip" aria-hidden="true"
            id="blob-markdown-help" popover="auto">Styling with Markdown is supported</span></label>
      </file-attachment></div>
  </div>
</div>